version: '3'

services:
  web:
    build: .
    command: bash -c "python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - '8000:8000'
    restart: always
    depends_on:
      mysql_db:
        condition: service_healthy
  mysql_db:
    image: mysql:latest
    ports:
      - '3306:3306'
    environment:
      MYSQL_DATABASE: 'db_django'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
    restart: always
    volumes:
      - ./db_django:/var/lib/mysql
  redis:
    image: redis:latest
    command: redis-server
    volumes:
      - .:/data
    ports:
      - 6379:6379
    environment:
      - REDIS_PASSWORD=password
      - REDIS_PORT=6379
      - REDIS_DATABASES=16
  celery:
    restart: always
    build:
      context: .
    command: bash -c "celery -A doc_search worker"
    volumes:
      - .:/app
    environment:
      MYSQL_DATABASE: 'db_django'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    depends_on:
      web:
        condition: service_started
      redis:
        condition: service_started
